## IKENNA UGWU THEODORE

In [148]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [149]:
dt = pd.read_csv('Athlete Search Test.csv')
ats = pd.read_csv('athlete_sports.csv')
print(dt)
print(ats)

                     search_id                 date              brand_userID  \
0     6324bdc92868650d6a287230  2022-09-16 18:17:45  6324bc99ae320d0d70685b40
1     63249faddc535e0d52662a36  2022-09-16 16:09:17  63249f32dc535e0d526621fb
2     632426c9a6dd320d8fa0c863   2022-09-16 7:33:30  6265b7fc658e4b0d9db1ad1a
3     632426c8a6dd320d8fa0c848   2022-09-16 7:33:28  6265b7fc658e4b0d9db1ad1a
4     632426c5a6dd320d8fa0c801   2022-09-16 7:33:26  6265b7fc658e4b0d9db1ad1a
...                        ...                  ...                       ...
5201  61d0ae45368f3e0d7a130365  2022-01-01 19:40:54  61d0ad6c68159a0d7ba0df41
5202  61d0ae26aec5520d680f0496  2022-01-01 19:40:22  61d0ad6c68159a0d7ba0df41
5203  61d0148fc403950d54ed7c1f   2022-01-01 8:45:03  61d012e8c403950d54ed71b8
5204  61d013f124a24e0d51489499   2022-01-01 8:42:26  61d012e8c403950d54ed71b8
5205  61cfabad4fbe7e0d7c180149   2022-01-01 1:17:33  61cfaac4e045ad0d7d0c8764

               brand_profileID  planLevel  minPrice  maxPrice view_id user  \
0     6324bc9aefe46f0d71d8e376          3     100.0     500.0     NaN  NaN
1     63249f32dc535e0d52662213          3       NaN     300.0     NaN  NaN
2     6265b7fd7e6fce7d64a970d9          3       NaN     500.0     NaN  NaN
3     6265b7fd7e6fce7d64a970d9          3       NaN     500.0     NaN  NaN
4     6265b7fd7e6fce7d64a970d9          3     100.0     500.0     NaN  NaN
...                        ...        ...       ...       ...     ...  ...
5201  61d0ad6c368f3e0d7a12fd28          0     100.0     500.0     NaN  NaN
5202  61d0ad6c368f3e0d7a12fd28          0     100.0     500.0     NaN  NaN
5203  61d012e9c403950d54ed71c2          0    1000.0    5000.0     NaN  NaN
5204  61d012e9c403950d54ed71c2          0    1000.0    5000.0     NaN  NaN
5205  61cfaac4e045ad0d7d0c8771          0       NaN     500.0     NaN  NaN

     path entity view_created athlete_userID athlete_profileID athlete_name_y
0     NaN    NaN          NaN            NaN               NaN            NaN
1     NaN    NaN          NaN            NaN               NaN            NaN
2     NaN    NaN          NaN            NaN               NaN            NaN
3     NaN    NaN          NaN            NaN               NaN            NaN
4     NaN    NaN          NaN            NaN               NaN            NaN
...   ...    ...          ...            ...               ...            ...
5201  NaN    NaN          NaN            NaN               NaN            NaN
5202  NaN    NaN          NaN            NaN               NaN            NaN
5203  NaN    NaN          NaN            NaN               NaN            NaN
5204  NaN    NaN          NaN            NaN               NaN            NaN
5205  NaN    NaN          NaN            NaN               NaN            NaN

[5206 rows x 15 columns]
            athlete_name_y               Sport
0    Aaron Leitmannstetter              Soccer
1         Abigail Erickson            Swimming
2             Adam Thielen   American Football
3        Aitor Zubizarreta          Basketball
4            Alan Nuguette                 MMA
..                     ...                 ...
463           Xavier Mason   American Football
464     Zion Carter Bryant          Basketball
465             Zion Clark     Track and Field
466           Ziyah Holman     Track and Field
467              Zoe Welsh            Softball

[468 rows x 2 columns]

### Join the two tables where the second table athletes_sports was created using unique athlete's name to find their respective sport

In [150]:
df = pd.merge(dt,ats,on='athlete_name_y',how='left')
df

,search_id,date,brand_userID,brand_profileID,planLevel,minPrice,maxPrice,view_id,user,path,entity,view_created,athlete_userID,athlete_profileID,athlete_name_y,Sport
0,6324bdc92868650d6a287230,2022-09-16 18:17:45,6324bc99ae320d0d70685b40,6324bc9aefe46f0d71d8e376,3,100.0,500.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,63249faddc535e0d52662a36,2022-09-16 16:09:17,63249f32dc535e0d526621fb,63249f32dc535e0d52662213,3,NaN,300.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,632426c9a6dd320d8fa0c863,2022-09-16 7:33:30,6265b7fc658e4b0d9db1ad1a,6265b7fd7e6fce7d64a970d9,3,NaN,500.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,632426c8a6dd320d8fa0c848,2022-09-16 7:33:28,6265b7fc658e4b0d9db1ad1a,6265b7fd7e6fce7d64a970d9,3,NaN,500.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,632426c5a6dd320d8fa0c801,2022-09-16 7:33:26,6265b7fc658e4b0d9db1ad1a,6265b7fd7e6fce7d64a970d9,3,100.0,500.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5201,61d0ae45368f3e0d7a130365,2022-01-01 19:40:54,61d0ad6c68159a0d7ba0df41,61d0ad6c368f3e0d7a12fd28,0,100.0,500.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5202,61d0ae26aec5520d680f0496,2022-01-01 19:40:22,61d0ad6c68159a0d7ba0df41,61d0ad6c368f3e0d7a12fd28,0,100.0,500.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5203,61d0148fc403950d54ed7c1f,2022-01-01 8:45:03,61d012e8c403950d54ed71b8,61d012e9c403950d54ed71c2,0,1000.0,5000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5204,61d013f124a24e0d51489499,2022-01-01 8:42:26,61d012e8c403950d54ed71b8,61d012e9c403950d54ed71c2,0,1000.0,5000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5205,61cfabad4fbe7e0d7c180149,2022-01-01 1:17:33,61cfaac4e045ad0d7d0c8764,61cfaac4e045ad0d7d0c8771,0,NaN,500.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [151]:
df.isnull().sum()

search_id               0
date                    0
brand_userID            0
brand_profileID         0
planLevel               0
minPrice             2017
maxPrice              297
view_id              3588
user                 3588
path                 3588
entity               3588
view_created         3588
athlete_userID       4083
athlete_profileID    4083
athlete_name_y       4083
Sport                4101
dtype: int64

In [152]:
#Data cleaning
df['date'] = pd.to_datetime(df['date'])
df['view_created'] = pd.to_datetime(df['view_created'])
df['minPrice'].fillna(0,inplace= True)
df['maxPrice'].fillna(0,inplace= True)
df.isnull().sum()

search_id               0
date                    0
brand_userID            0
brand_profileID         0
planLevel               0
minPrice                0
maxPrice                0
view_id              3588
user                 3588
path                 3588
entity               3588
view_created         3588
athlete_userID       4083
athlete_profileID    4083
athlete_name_y       4083
Sport                4101
dtype: int64

## Task Solutions

### What trends do you see for plan level 0, plan level 3 and plan level 9? (ex. plan level 3 has a high volume of search for athletes that play basketball)

In [153]:
#Filter all non-blanks in sport column
spt = df[df['Sport'].notnull()]
spt

,search_id,date,brand_userID,brand_profileID,planLevel,minPrice,maxPrice,view_id,user,path,entity,view_created,athlete_userID,athlete_profileID,athlete_name_y,Sport
10,6323a8311215f60d6d712dac,2022-09-15 22:33:21,61df1c4d4b3b560d63e49456,61df1c4ef7f96578df40ad48,3,0.0,1000.0,62fab184df508b0d87c03780,61df1c4d4b3b560d63e49456,buzz-holbrook,athlete profile,2022-08-15 20:50:13,58d4bd20767a9805a7655732,58d4c406767a9805a7655748,Buzz Holbrook,Baseball
11,6323a8311215f60d6d712dac,2022-09-15 22:33:21,61df1c4d4b3b560d63e49456,61df1c4ef7f96578df40ad48,3,0.0,1000.0,62fac59358579e0d8690192b,61df1c4d4b3b560d63e49456,didi-haracic,athlete profile,2022-08-15 22:15:48,599f02049da75d43498ac4f1,599f063f9da75d43498ac5d3,DiDi Haracic,Soccer
12,6323a8311215f60d6d712dac,2022-09-15 22:33:21,61df1c4d4b3b560d63e49456,61df1c4ef7f96578df40ad48,3,0.0,1000.0,62fac5912bd3c80d85bea1f8,61df1c4d4b3b560d63e49456,kaleigh-fratkin,athlete profile,2022-08-15 22:15:45,5da6340b63ee5f0deee8a8d2,5da635fcd612a90e90e0f45c,Kaleigh Fratkin,Ice Hockey
13,6323a8311215f60d6d712dac,2022-09-15 22:33:21,61df1c4d4b3b560d63e49456,61df1c4ef7f96578df40ad48,3,0.0,1000.0,62fac59058579e0d869018a8,61df1c4d4b3b560d63e49456,aldrich-bailey-jr,athlete profile,2022-08-15 22:15:45,5aa488050c6b4d53cbb71896,5aa489db0c6b4d53cbb718a1,Aldrich Bailey Jr,Track and Field
14,6323a8311215f60d6d712dac,2022-09-15 22:33:21,61df1c4d4b3b560d63e49456,61df1c4ef7f96578df40ad48,3,0.0,1000.0,62fac57f58579e0d869017da,61df1c4d4b3b560d63e49456,tavis-lee,athlete profile,2022-08-15 22:15:28,60ddd17536d7b20d8fbe3044,60ddd185239dab0d704c1a3e,Tavis Lee,Wrestling
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5103,61d5fa91ac772f11d0684836,2022-01-05 20:07:46,60897b085648e40d7e8fd919,60897b09fa40140d6290695e,0,0.0,2000.0,62f28af88aa1620d7fe41e37,60897b085648e40d7e8fd919,timothy-saipramuk,athlete profile,2022-08-09 16:27:37,625f83f99e078f686f292e36,625f842ccd59430d512b3242,Timothy Saipramuk,Track and Field
5104,61d5fa7c1557e50e1f710b87,2022-01-05 20:07:25,60897b085648e40d7e8fd919,60897b09fa40140d6290695e,0,0.0,5000.0,62f12b5d385b5b0d9891755b,60897b085648e40d7e8fd919,chyna-godiva,athlete profile,2022-08-08 15:27:25,62cfa07127aaca3fd7ca3715,62cfa1c027aaca3fd7ca37e9,Chyna Godiva,Pole Dancing
5105,61d5fa7c1557e50e1f710b87,2022-01-05 20:07:25,60897b085648e40d7e8fd919,60897b09fa40140d6290695e,0,0.0,5000.0,62f28af88aa1620d7fe41e37,60897b085648e40d7e8fd919,timothy-saipramuk,athlete profile,2022-08-09 16:27:37,625f83f99e078f686f292e36,625f842ccd59430d512b3242,Timothy Saipramuk,Track and Field
5106,61d5f99ae690730d308f3260,2022-01-05 20:03:39,60897b085648e40d7e8fd919,60897b09fa40140d6290695e,0,0.0,5000.0,62f12b5d385b5b0d9891755b,60897b085648e40d7e8fd919,chyna-godiva,athlete profile,2022-08-08 15:27:25,62cfa07127aaca3fd7ca3715,62cfa1c027aaca3fd7ca37e9,Chyna Godiva,Pole Dancing
5107,61d5f99ae690730d308f3260,2022-01-05 20:03:39,60897b085648e40d7e8fd919,60897b09fa40140d6290695e,0,0.0,5000.0,62f28af88aa1620d7fe41e37,60897b085648e40d7e8fd919,timothy-saipramuk,athlete profile,2022-08-09 16:27:37,625f83f99e078f686f292e36,625f842ccd59430d512b3242,Timothy Saipramuk,Track and Field

In [154]:
#Data grouped by planlevel
grouped = spt.groupby(['planLevel', 'Sport'])['search_id'].count().unstack()

In [155]:
#Only plans 0 and 3 were found in the provided dataset
grouped

Sport,American Football,Baseball,Basketball,Beach Volleyball,Bodybuilding,Bowling,Boxing,Brazilian Jitsu,Cheerleading,Chess,...,Taekwondo,Television Personality,Tennis,Track Cycling,Track and Field,Triathlon,Volleyball,Weightlifting,Wrestling,Sportscasting
planLevel,,,,,,,,,,,,,,,,,,,,,
0,84.0,47.0,112.0,7.0,5.0,1.0,11.0,NaN,16.0,1.0,...,3.0,2.0,12.0,1.0,74.0,3.0,35.0,NaN,28.0,2.0
3,36.0,13.0,38.0,1.0,NaN,NaN,1.0,2.0,6.0,1.0,...,NaN,NaN,2.0,NaN,17.0,NaN,19.0,1.0,8.0,NaN

In [156]:
#The grouped table is transposed
grp = grouped.T
grp

planLevel                    0     3
Sport
 American Football        84.0  36.0
 Baseball                 47.0  13.0
 Basketball              112.0  38.0
 Beach Volleyball          7.0   1.0
 Bodybuilding              5.0   NaN
 Bowling                   1.0   NaN
 Boxing                   11.0   1.0
 Brazilian Jitsu           NaN   2.0
 Cheerleading             16.0   6.0
 Chess                     1.0   1.0
 Cricket                   9.0   2.0
 CrossFit                  1.0   NaN
 Curling                   1.0   NaN
 Cycling                   NaN   2.0
 Disc Golf                 NaN   1.0
 Diving                    1.0   1.0
 Equestrian                3.0   1.0
 Eventing                  1.0   NaN
 Fencing                   4.0   1.0
 Field Hockey              NaN   1.0
 Figure Skating           14.0   1.0
 Fishing                   6.0   NaN
 Fitness                  13.0   5.0
 Football (Soccer)         2.0   NaN
 Formula 1 Racing          1.0   NaN
 Gaming                    4.0   2.0
 Golf                     37.0  11.0
 Gymnastics               24.0   4.0
 Ice Hockey               22.0   4.0
 Kayaking                  1.0   NaN
 Kitesurfing               1.0   NaN
 Lacrosse                  2.0   NaN
 MMA                      17.0   1.0
 Motorcycle Racing         1.0   NaN
 Motorsports              16.0   NaN
 Mountain Biking           9.0   NaN
 Pickleball                5.0   NaN
 Pole Dancing              6.0   1.0
 Pole Vault                NaN   1.0
 Powerlifting              NaN   1.0
 Rowing                   10.0   2.0
 Rugby                     4.0   1.0
 Skateboarding            14.0   4.0
 Skiing                    5.0   NaN
 Soccer                  100.0  32.0
 Softball                 12.0  13.0
 Sportscasting            11.0   NaN
 Surfing                  11.0  18.0
 Swimming                 18.0  14.0
 Table Tennis              5.0   1.0
 Taekwondo                 3.0   NaN
 Television Personality    2.0   NaN
 Tennis                   12.0   2.0
 Track Cycling             1.0   NaN
 Track and Field          74.0  17.0
 Triathlon                 3.0   NaN
 Volleyball               35.0  19.0
 Weightlifting             NaN   1.0
 Wrestling                28.0   8.0
Sportscasting              2.0   NaN

In [157]:
planx = grp.sort_values(by= 0,ascending = False)
planx

planLevel                    0     3
Sport
 Basketball              112.0  38.0
 Soccer                  100.0  32.0
 American Football        84.0  36.0
 Track and Field          74.0  17.0
 Baseball                 47.0  13.0
 Golf                     37.0  11.0
 Volleyball               35.0  19.0
 Wrestling                28.0   8.0
 Gymnastics               24.0   4.0
 Ice Hockey               22.0   4.0
 Swimming                 18.0  14.0
 MMA                      17.0   1.0
 Motorsports              16.0   NaN
 Cheerleading             16.0   6.0
 Skateboarding            14.0   4.0
 Figure Skating           14.0   1.0
 Fitness                  13.0   5.0
 Tennis                   12.0   2.0
 Softball                 12.0  13.0
 Sportscasting            11.0   NaN
 Surfing                  11.0  18.0
 Boxing                   11.0   1.0
 Rowing                   10.0   2.0
 Mountain Biking           9.0   NaN
 Cricket                   9.0   2.0
 Beach Volleyball          7.0   1.0
 Pole Dancing              6.0   1.0
 Fishing                   6.0   NaN
 Bodybuilding              5.0   NaN
 Table Tennis              5.0   1.0
 Skiing                    5.0   NaN
 Pickleball                5.0   NaN
 Rugby                     4.0   1.0
 Gaming                    4.0   2.0
 Fencing                   4.0   1.0
 Equestrian                3.0   1.0
 Triathlon                 3.0   NaN
 Taekwondo                 3.0   NaN
 Television Personality    2.0   NaN
Sportscasting              2.0   NaN
 Lacrosse                  2.0   NaN
 Football (Soccer)         2.0   NaN
 Motorcycle Racing         1.0   NaN
 Kayaking                  1.0   NaN
 Formula 1 Racing          1.0   NaN
 Eventing                  1.0   NaN
 Diving                    1.0   1.0
 Track Cycling             1.0   NaN
 Curling                   1.0   NaN
 CrossFit                  1.0   NaN
 Chess                     1.0   1.0
 Bowling                   1.0   NaN
 Kitesurfing               1.0   NaN
 Brazilian Jitsu           NaN   2.0
 Cycling                   NaN   2.0
 Disc Golf                 NaN   1.0
 Field Hockey              NaN   1.0
 Pole Vault                NaN   1.0
 Powerlifting              NaN   1.0
 Weightlifting             NaN   1.0

In [158]:
plan_0 = planx[0].head(10)
plan_0

Sport
 Basketball           112.0
 Soccer               100.0
 American Football     84.0
 Track and Field       74.0
 Baseball              47.0
 Golf                  37.0
 Volleyball            35.0
 Wrestling             28.0
 Gymnastics            24.0
 Ice Hockey            22.0
Name: 0, dtype: float64

In [159]:
plany = grp.sort_values(by= 3,ascending = False)
plany

planLevel                    0     3
Sport
 Basketball              112.0  38.0
 American Football        84.0  36.0
 Soccer                  100.0  32.0
 Volleyball               35.0  19.0
 Surfing                  11.0  18.0
 Track and Field          74.0  17.0
 Swimming                 18.0  14.0
 Softball                 12.0  13.0
 Baseball                 47.0  13.0
 Golf                     37.0  11.0
 Wrestling                28.0   8.0
 Cheerleading             16.0   6.0
 Fitness                  13.0   5.0
 Gymnastics               24.0   4.0
 Skateboarding            14.0   4.0
 Ice Hockey               22.0   4.0
 Gaming                    4.0   2.0
 Tennis                   12.0   2.0
 Cycling                   NaN   2.0
 Brazilian Jitsu           NaN   2.0
 Rowing                   10.0   2.0
 Cricket                   9.0   2.0
 Weightlifting             NaN   1.0
 Beach Volleyball          7.0   1.0
 Boxing                   11.0   1.0
 Table Tennis              5.0   1.0
 Chess                     1.0   1.0
 Diving                    1.0   1.0
 Rugby                     4.0   1.0
 Equestrian                3.0   1.0
 Pole Vault                NaN   1.0
 Pole Dancing              6.0   1.0
 MMA                      17.0   1.0
 Disc Golf                 NaN   1.0
 Figure Skating           14.0   1.0
 Field Hockey              NaN   1.0
 Fencing                   4.0   1.0
 Powerlifting              NaN   1.0
 Bodybuilding              5.0   NaN
 Bowling                   1.0   NaN
 CrossFit                  1.0   NaN
 Curling                   1.0   NaN
 Eventing                  1.0   NaN
 Fishing                   6.0   NaN
 Football (Soccer)         2.0   NaN
 Formula 1 Racing          1.0   NaN
 Kayaking                  1.0   NaN
 Kitesurfing               1.0   NaN
 Lacrosse                  2.0   NaN
 Motorcycle Racing         1.0   NaN
 Motorsports              16.0   NaN
 Mountain Biking           9.0   NaN
 Pickleball                5.0   NaN
 Skiing                    5.0   NaN
 Sportscasting            11.0   NaN
 Taekwondo                 3.0   NaN
 Television Personality    2.0   NaN
 Track Cycling             1.0   NaN
 Triathlon                 3.0   NaN
Sportscasting              2.0   NaN

In [160]:
plan_3 = plany[3].head(10)
plan_3

Sport
 Basketball           38.0
 American Football    36.0
 Soccer               32.0
 Volleyball           19.0
 Surfing              18.0
 Track and Field      17.0
 Swimming             14.0
 Softball             13.0
 Baseball             13.0
 Golf                 11.0
Name: 3, dtype: float64

In [161]:
print(plan_0)
print(plan_3)

Sport
 Basketball           112.0
 Soccer               100.0
 American Football     84.0
 Track and Field       74.0
 Baseball              47.0
 Golf                  37.0
 Volleyball            35.0
 Wrestling             28.0
 Gymnastics            24.0
 Ice Hockey            22.0
Name: 0, dtype: float64
Sport
 Basketball           38.0
 American Football    36.0
 Soccer               32.0
 Volleyball           19.0
 Surfing              18.0
 Track and Field      17.0
 Swimming             14.0
 Softball             13.0
 Baseball             13.0
 Golf                 11.0
Name: 3, dtype: float64

### What differences would you highlight between the trends in search for plan levels? (ex. plan level 3 is more active monthly than plan level9)

In [162]:
df.columns

Index(['search_id', 'date', 'brand_userID', 'brand_profileID', 'planLevel',
       'minPrice', 'maxPrice', 'view_id', 'user', 'path', 'entity',
       'view_created', 'athlete_userID', 'athlete_profileID', 'athlete_name_y',
       'Sport'],
      dtype='object')

In [163]:
df['date'].isnull().sum()

0

In [164]:
date_trend = spt.groupby(['planLevel', 'date'])['search_id'].count().unstack()
date_trend=date_trend.T
date_trend

planLevel              0     3
date
2022-01-05 20:03:39  2.0   NaN
2022-01-05 20:07:25  2.0   NaN
2022-01-05 20:07:46  2.0   NaN
2022-01-05 20:08:14  2.0   NaN
2022-01-05 20:08:54  2.0   NaN
...                  ...   ...
2022-09-13 17:21:50  NaN  10.0
2022-09-14 10:21:03  NaN   1.0
2022-09-14 17:59:09  NaN   9.0
2022-09-15 18:50:10  NaN   7.0
2022-09-15 22:33:21  NaN  10.0

[378 rows x 2 columns]

In [165]:
active0 = date_trend[date_trend[0].notnull()]
active3 = date_trend[date_trend[3].notnull()]

In [166]:
active0

planLevel              0    3
date
2022-01-05 20:03:39  2.0  NaN
2022-01-05 20:07:25  2.0  NaN
2022-01-05 20:07:46  2.0  NaN
2022-01-05 20:08:14  2.0  NaN
2022-01-05 20:08:54  2.0  NaN
...                  ...  ...
2022-08-15 16:20:38  2.0  NaN
2022-08-15 19:57:28  5.0  NaN
2022-08-16 03:17:41  1.0  NaN
2022-08-16 03:18:04  1.0  NaN
2022-08-16 13:49:16  6.0  5.0

[287 rows x 2 columns]

In [167]:
active3

planLevel              0     3
date
2022-08-16 13:49:16  6.0   5.0
2022-08-16 17:06:16  NaN   2.0
2022-08-16 17:09:18  NaN   2.0
2022-08-16 17:11:55  NaN   2.0
2022-08-16 17:12:40  NaN   2.0
...                  ...   ...
2022-09-13 17:21:50  NaN  10.0
2022-09-14 10:21:03  NaN   1.0
2022-09-14 17:59:09  NaN   9.0
2022-09-15 18:50:10  NaN   7.0
2022-09-15 22:33:21  NaN  10.0

[92 rows x 2 columns]

In [168]:
active0[0].astype(int)
active3[3].astype(int)

date
2022-08-16 13:49:16     5
2022-08-16 17:06:16     2
2022-08-16 17:09:18     2
2022-08-16 17:11:55     2
2022-08-16 17:12:40     2
                       ..
2022-09-13 17:21:50    10
2022-09-14 10:21:03     1
2022-09-14 17:59:09     9
2022-09-15 18:50:10     7
2022-09-15 22:33:21    10
Name: 3, Length: 92, dtype: int32

In [169]:
actmon0 = round((active0[0].mean()),2)
actmon3 = round((active3[3].mean()),2)
print(f"The mean active months for plan 0 is {actmon0}")
print(f"The mean active months for plan 3 is {actmon3}")

The mean active months for plan 0 is 2.91
The mean active months for plan 3 is 2.93